@{
    Layout = "~/Views/Shared/_Layout_Indentity.cshtml";
    ViewData["Title"] = "Login";
}


@section scripts{
    <script>
        function GetApiData() {
            let data = {
                user: document.getElementById("username_login").value,
                mema: document.getElementById("pwd_login").value
            };
            return data;
        }

        function ToLogin() {
            let data = GetApiData();
            console.log(data);
        }
    </script>

}

    <div class="wrapper">
        <div class="main-panel">
            <div class="content-full mt-5">
                <div class="row">
                    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                        <div class="card">
                            <form role="form">

                                <div class="card-header">
                                    <h3 class="title">Login</h3>

                                    <h6 class="card-category">
                                        Start Using Catcher~
                                    </h6>
                                </div>

                                <div class="card-body ">

                                    <div class="row ml-auto mr-auto">

                                        <div class="col-md-8 px-md-1">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input class="form-control" id="username_login" name="username" required="" type="text" value="">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row ml-auto mr-auto">

                                        <div class="col-md-8 px-md-1">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input class="form-control" id="pwd_login" name="password" required="" type="password" value="">
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="card-footer">
                                    <button type="button" name="login" class="btn btn-fill btn-primary float-right mb-3" onclick="ToLogin()">Login</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

